{% extends 'base.html' %}

{% block header %}
  <h1>{% block name %}Lägg upp ny kund{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="cust_number">Kundnummer</label>
    <input name="cust_number" id="cust_number" value="{{ request.form['cust_number'] }}" required>

    <label for="name">Namn</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>

    <label for="address">Adress</label>
    <input name="address" id="address" value="{{ request.form['address'] }}">

    <label for="postal_number">Postnummer</label>
    <input name="postal_number" id="postal_number" value="{{ request.form['postal_number'] }}">

    <label for="postal_address">Postadress</label>
    <input name="postal_address" id="postal_address" value="{{ request.form['postal_address'] }}">

    <input type="submit" value="Spara">
  </form>
{% endblock %}