{% extends 'base.html' %}

{% block header %}
  <h1>{% block name %}Kundlista{% endblock %}</h1>
    <a class="action" href="{{ url_for('customers.create') }}">Lägg upp ny kund</a>
{% endblock %}

{% block content %}
  {% for customer in customers %}
    <article class="customers">
      <header>
        <div>
          <h1>{{ customer['name'] }}</h1>
          <div class="about">by {{ customer['name'] }} on {{ customer['created'].strftime('%Y-%m-%d') }}</div>
        </div>
          <a class="action" href="{{ url_for('customers.update', cust_number=customer['cust_number']) }}">Ändra</a>
      </header>
      <p class="body">{{ customer['cust_number'] }}</p>
      <p class="body">{{ customer['address'] }}</p>
      <p class="body">{{ customer['postal_number'] }}</p>
      <p class="body">{{ customer['postal_address'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}