{% extends 'base.html' %}

{% block header %}
  <h1>{% block name %}Kundlista{% endblock %}</h1>
    <a class="action" href="{{ url_for('customers.create') }}">Lägg upp ny kund</a>
{% endblock %}

{% block content %}
  {% for customer in customers %}
    <article class="customers">
      <header>
        <div>
          
          <h1>{{ customer['name'] }}</h1>
        </div>
          <a class="action" href="{{ url_for('customers.update', cust_number=customer['cust_number']) }}">Ändra</a>
      </header>
      
      <p class="body">#{{ customer['cust_number'] }}</p>
      <p class="body">Adr: {{ customer['address'] }}</p>
      <p class="body">pnr: {{ customer['postal_number'] }}</p>
      <p class="body">ort: {{ customer['postal_address'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}